html,
body {
  height : 100%;
}

body {
  box-sizing  : border-box;
  font-family : 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing      : inherit;
  margin          : 0;
  padding         : 0;
  list-style      : none;
  text-decoration : none;
}

img {
  width : 100%;
}

p {
  font-size : clamp(0.8rem, 0.7272727272727273rem + 0.36363636363636354vw, 1rem);
}

h2 {
  font-size : clamp(1.5rem, 1.3636363636363635rem + 0.9090909090909091vw, 2rem);
  opacity   : .7;
}

h3 {
  font-size : clamp(1.2rem, 1.0909090909090908rem + 0.7272727272727273vw, 1.5rem);
}