html,
body {
  height : 100%;
}

body {
  box-sizing  : border-box;
  box-sizing  : border-box;
  font-family : 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing      : inherit;
  margin          : 0;
  padding         : 0;
  list-style      : none;
  text-decoration : none;
}

img {
  width  : 100%;
  margin : auto;
}