/*Banner*/
:where(section:has(.banner)) {
  background-color : var(--color1);
  padding          : 0em 1em 1em;
  height           : auto;

  h2 {
    color          : var(--color2);
    margin         : .8em 0 0;
    font-size      : .9em;
    font-weight    : 100;
    text-transform : uppercase;

    span {
      text-transform : none;
      font-weight    : 100;
      color          : var(--color2);
      text-shadow    : 1px 1px 1px black;
    }
  }

  p {
    margin    : 1em 0 1em;
    font-size : 0.75em;
    color     : white;
  }

  a {
    padding          : .5em;
    color            : #fff;
    font-size        : .8em;
    background-image : linear-gradient(rgba(255, 255, 255, 0.38), rgba(84, 114, 102, 0.62));
    text-shadow      : 1px 1px 1px black;
    display          : inline-block;
    box-shadow       : 1px 1px 1px rgba(0, 0, 0, 0.26);

    &:hover {
      color : var(--color2);
    }
  }
}