/*Clientes*/
section:where(.clientes) {
  padding               : 1em;
  color                 : var(--color3);
  display               : grid;
  grid-template-columns : repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap                   : 1rem;

  h2 {
    padding    : 1em 0;
    text-align : center;
    color      : var(--color3);
  }

  img {
    display    : block;
    object-fit : cover;
  }

  h3 {
    /* font-size  : 1em; */
    margin-top : 0.5em;
  }

  p {
    padding : 0 0 1em;
  }

  .clientes__nav__item--prev {
    background-color : var(--color1);
  }

  .clientes__nav__item--next {
    background-color : var(--color2);
  }
}