header {
  --c-comp-1       : hsl(58, 100%, 73%);
  padding          : 2rem 0 0;
  color            : var(--bodyBgc);
  background-color : var(--color1);
  container-type   : inline-size;

  .hamburger {
    font-size : 1.5rem;
  }

  @container(width > 800px) {

    section:nth-of-type(2) {
      position : absolute;
      display  : none;
    }

    nav {
      margin-block-start : 1.5rem;

      >ul {
        height           : 52.8px;
        max-height       : none;
        padding          : none;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        background-color : var(--c-comp-1);
      }

      & :where(a) {
        padding     : 0;
        font-size   : 1.2rem;
        font-weight : 500;
        line-height : 50.8px;
      }
    }
  }

  section {
    text-align     : center;
    text-transform : uppercase;
    text-shadow    : 0px 1px 1px rgba(0, 0, 0, 0.54);

    h1 {
      font-size   : clamp(2rem, 1.8181818181818181rem + 0.9090909090909091vw, 2.5rem);
      font-weight : lighter;

      span {
        font-weight : 600;
        color       : var(--color2);
      }
    }
  }

  p {
    font-size      : clamp(0.8rem, 0.7272727272727273rem + 0.36363636363636354vw, 1rem);
    font-weight    : 100;
    line-height    : 1.5em;
    text-align     : center;
    letter-spacing : -0.05em;
    opacity        : .7;
  }

  section:has(span + span) {
    height           : 52.8px;
    margin-top       : 1em;
    padding          : .5em 1em;
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    color            : var(--color1);
    background-color : var(--c-comp-1);

    .hamburger {
      cursor : pointer;

      &:hover {
        color : black;
      }
    }
  }
}

/* NAVEGATION */
nav {
  height  : auto;
  padding : 0 0 1em;

  ul {
    /*js accion para despliegue de menu*/
    max-height       : 0;
    margin           : 0 auto;
    overflow         : hidden;
    font-family      : 'Roboto';
    line-height      : 1.5em;
    transition       : max-height 300ms;
    background-color : var(--color2);

    :where(a) {
      padding : .5em;
      display : block;
      color   : var(--color1);

      &:hover {
        background-color : rgba(84, 114, 102, 0.2);
      }
    }
  }
}